{% extends 'base.html' %}
{% block body %}

    <style>
        .text-center {
            width: 30%;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        .text-center a {
            font-family: Trebuchet MS Serif;
            font-color: blue;
            margin-top: 10px;
        }

        .top {
            top: 0;
            text-align: center;
            background-color: #7a1010;
            padding-top: 50px;
            padding-bottom: 40px;
        }

        .hl {
            font-size: 50px;
            color: white;
        }

        .bottom {
            margin-bottom: 20px;
        }

    </style>

    <div class="top">
        <h1 class="hl">Promotion Portal</h1>
        
    </div>

    <div class="text-center">
        <form class="form-login" method="post">
            <fieldset>
        <h4 style="margin-bottom:20px">Conglaturatons on your promotion to a cardinal of the Holy Church of Jowett</h4>
        <p style="margin-bottom:20px">Click the button to accept your promotion</p>
        <button type="Promote" class="btn btn-primary" style="margin-bottom: 20px">Submit</button>
            </fieldset>
        </form>
    </div>

{% endblock %}