{% extends 'base.html' %}
{% block body %}

    <style>
        .top {
            top: 0;
            text-align: center;
            padding-left:  30px;
            padding-top: 40px;
            padding-bottom: 30px;
            padding-right:  30px;
        }

        .h1 {
            font-size: 60px;
            margin-bottom: 60px;
        }

        .user_info {
            font-size:18px;
            padding-left: 17px;
            color: black;
        }

        .table {
            color: white;
            table-layout: fixed;
            width: 40%;
            margin-left: auto;
            margin-right: auto;
            background-color: #7a1010;
            border: 3px solid #a6192e;
        }

    </style>

    <div class="top">
        <h4 style="margin-bottom:100px; color:white">Official agenda of the holy church of Jowett</h4>
        <table class="table">
            <tbody>
                <tr>
                    <td>Change the JWT secret from "jowett_is_the_best"</td>
                </tr>
                <tr>
                    <td>Convert Michael Morgan to the Holy Church of Jowett</td>
                </tr>
                <tr>
                    <td>Become the official religion of Shenton College</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}