body {
    display: flex;
    flex-direction: column;
}

/* Andrew cool css */
#challenge-main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    justify-content: center;
    padding: 0;
    flex: 1;
}

/* Section styling */
#challenge-list {
    padding: 40px;
    flex: 11;
    background: var(--bg-color);
}

.challenge > * {
    margin-bottom: 0.3em;
}

.challenge > :last-child {
    margin-bottom: 0;
}

.challenge header p, .challenge footer p, .challenge footer summary, .challenge header a {
    color: lightgrey;
}

.challenge h2 {
    color: var(--purple-1); /* purple */
}

.challenge header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 0.6em;
}

.challenge .info-block {
    --gap: 10px;

    display: flex;
    gap: var(--gap);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: 0.2em; /* align top of info block with header more accurately */
    align-items: center;
}

.info-block .filter-tags {
    display: flex;
    gap: var(--gap);
}

.points {
    margin-left: 5px;
}

/* Tags */
.filter-tag {
    text-decoration: none;
    background-color: var(--bg-color);
    padding: 6px 16px; /* For text */
    transition: background-color 0.3s;
    border-radius: 10px;
    display: inline-block;
    font-size: 0.85em;
    white-space: nowrap;
}

.filter-tag:hover {
    text-decoration: none;
    background-color: var(--form-field-border-color);
}

.filter-tag[data-selected] {
    background-color: var(--purple-1);
}



.solves-count {
    text-align: right;
}

/* Style for the challenge listings */
#challenge-list .challenge {
    padding: 15px;
    margin-top: 10px;
    border-left: 5px solid var(--purple-2); /* Stylish left border */
}


/* Solved challenges styling */
#challenge-list .challenge[data-solved] {
    border-left-color: #339900;
}

#challenge-list .challenge[data-solved] h2 {
    color: darkgrey;
}

#challenge-list .challenge[data-solved] h2::after {
    content: ' (Solved)';
}

.files {
    --spacing: 1em;
}

.files h3 {
    display: inline;
    margin-right: var(--spacing);
    font-size: 1em;
    font-weight: bold;
}

.files ul {
    display: inline-flex; /* Enables flexbox layout */
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
    list-style: none; /* Removes default list styling */
}

.files li {
    margin-right: var(--spacing); /* Adds some space between file links */
    white-space: nowrap; /* Prevents the text from wrapping */
}


/* Flag Submission Form Styling */
#flag-form {
    display: flex;
    align-items: center; /* Aligns items vertically in the middle */
    justify-content: start; /* Aligns items to the start of the form */
    max-width: 100%; /* Ensures the form does not exceed the container width */
    margin-bottom: 20px;

    gap: 5px; /* Space between text input and submit button */
    flex-wrap: wrap;
}

#flag-form input[type="text"] {
    flex-grow: 999; /* Allows the text input to grow and fill available space */
    padding: 8px;
    border: 1px solid var(--form-field-border-color);
    background-color: var(--light-bg-color);
    color: #ddd;
    border-radius: 4px;
}

#flag-form input[type="text"]:focus {
    outline: none;
    border-color: #555;
}

#flag-form input[type="submit"] {
    padding: 8px 16px;
    border: none;
    background-color: var(--purple-1);
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1;
}

#flag-form input[type="submit"]:hover {
    background-color: var(--purple-2); /* Darker purple on hover for visual feedback */
}

#flag-section-container {
    background-color: var(--light-bg-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    flex: 5;
}

/* Section where flag submission form, and filter form is stored */
#flag-section {

    gap: 20px;
    padding: 30px;


    /* Andrew god */
    position: sticky;
    top:0;

    align-self: start;
}

#flag-section h2 {
    font-size: 22px;
    margin-top: 0.5em;
}

#filter-form {
    /* Centering the form */
    margin: 0 auto;
}

#filter-form select {
    background-color: var(--light-bg-color); /* Darker background for input fields */
    color: #ccc; /* Light gray text color */
    border: 2px solid var(--form-field-border-color); /* Darker border for a subtle and elegant look */
    padding: 10px;
    margin-bottom: 10px; /* Spacing between form elements */
    width: 100%; /* Full width */
    border-radius: 4px; /* Slightly rounded edges for inputs */
}

