#login-section {
    max-width: 25em; /* Width adjusted for a larger form */
    margin: 3em auto 0; /* Increased vertical margin for more central focus */
}

#login-section h1 {
    text-align: center;
    color: var(--purple-1); /* Purple accent for the title */
    margin-bottom: 1em; /* More space below the header */
}

#login-section form {
    display: flex;
    flex-direction: column;
}

#login-section input[type="text"],
#login-section input[type="password"] {
    padding: 1em; /* Comfortable padding */
    margin-bottom: 1em; /* Adequate spacing between fields */
    border: 1px solid var(--form-field-border-color); /* Darker border to match the outer border */
    background-color: var(--bg-color); /* Consistent dark theme for input fields */
    color: #ccc; /* Lighter text for readability */
    border-radius: 5px; /* Soft rounded corners for the inputs */
    font-size: 1em; /* Increased font size for ease of reading */
}

#login-section input[type="submit"] {
    padding: 1em; /* Generous padding for a substantial button */
    color: white;
    background-color: var(--purple-1); /* Purple accent color */
    border: none;
    border-radius: 5px; /* Consistent radius with other elements */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1em; /* Larger text for a bold statement */
}

#login-section input[type="submit"]:hover {
    background-color: var(--purple-2); /* Darker purple on hover for visual feedback */
}

#login-section p {
    color: #ccc; /* Light grey color for readability against the dark background */
    font-size: 0.9em; /* Slightly smaller font size for less emphasis compared to input fields */
    text-align: center; /* Center-align text for consistency with the form's alignment */
    margin-top: 1.25rem; /* Spacing above the paragraph to separate it from the form */
}

#login-section a {
    color: var(--purple-1); /* Purple color for the link to match the accent color */
}
