main {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    text-align: center;
}

/* Card types */
.large {
    flex: 6 1 20em;
}

.small {
    flex: 2 1 10em;
}

footer {
    flex-basis: 100%;
    background-color: var(--form-field-border-color);
}
