main {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    text-align: center;
}

#welcome {
    flex: 2 1;
}

#what-is-ctf {
    flex: 6 1;
}

footer {
    flex-basis: 100%;
    background-color: var(--form-field-border-color);
}
