body > main {
    padding: 0;
    text-align: center;
}

.container {
    display: flex;
    padding: 1em;
    gap: 2em;
    flex-wrap: wrap;
}

/* Shared styling */
body > main h2 {
    font-size: 1.25em;
}

body > main p {
    margin-bottom: 0.5em;
}

body > main p:last-child {
    margin-bottom: 0em;
}

body > main ul {
    text-align: initial; /* Reset text alignment */
}

/* Card types */
.large {
    flex: 6 1 40em;
}

.medium {
    flex: 6 1 20em;
}

.small {
    flex: 2 1 10em;
}

#help {
    --padding: 0.5em;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

#help main {
    padding-top: 0.5em;
}

/* increased specificity */
#help #flag-section, #help #challenge-list {
    padding-top: 1em;
}

#help #challenge-list {
    --padding: 1em;
    border-radius: 0.5em; /* More cohesive appearance */
    /* padding-top already set by rule above */
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-bottom: var(--padding);
}

#help .challenge {
    text-align: initial; /* Reset text alignment */
}

#help .filter-tags {
    flex-wrap: wrap; /* Force wrapping */
    justify-content: flex-end; /* Align tags to the right */
}

body > main > footer {
    flex-basis: 100%;
    background-color: var(--form-field-border-color);
}
