:root {
    --user-highlight: #004225;
}
/* Enable scrolling again */
body, html {
    overflow: auto;
    padding-bottom: 100px;
}

/* Styling links */
a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Section headings */
h2 {
    padding-bottom: 10px;
}

/* Container for both sections */
.dashboard-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/* Individual panels */
.dashboard-panel {
    width: 45%;
    background-color: var(--light-bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    height: 600px;
    overflow-y: scroll;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    max-height: 600px;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid var(--form-field-border-color);
}

thead {
    background-color: var(--form-field-border-color);
}

tbody tr:hover {
    background-color: var(--hover-color);
}

/* Re-enable page scroll */
html, body {
    overflow: auto;
}


/* Current user is highlighted */
#current-user {
    background-color: var(--user-highlight);
}

tr#current-user td#username-data::after {
    content: " (You)"
}


/* Format graph */
#leaderboard-page {
    width: 70%;
    margin: 0 auto;
}

#leaderboard-heading {
    text-align: center;
    padding-top: 20px;
}
