/* Section headings */
.dashboard-panel > :first-child {
    padding-bottom: var(--spacing);
}

/* Container for both sections */
.dashboard-container {
    margin: 0 auto;
    max-width: 90vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1em;
    gap: 2em;
}

/* Individual panels */
.dashboard-panel {
    flex: 1 1 18em;
    height: 600px;
    overflow-y: auto;
}

/* Table styling */
table {
    max-height: 600px;
}


/* Current user has "You" suffix  */
tr#current-user td#username-data::after {
    content: " (You)"
}

main {
    max-width: 80em;
    margin: 0 auto;
}


/* Format chart */
#leaderboard-chart-container {
    height: 50vh;
    width: 90vw;
    max-width: 100%;
    margin: 0 auto;
}

#leaderboard-heading {
    text-align: center;
}
