/* Navigation Bar Styling */
#main-nav {
    background-color: #222222;
    padding: 10px 20px;
    text-align: center;

    border-bottom: 1px solid black;
}

#main-nav ul {
    list-style: none;
    padding: 0;
}

#main-nav ul li {
    display: inline;
    margin-right: 10px;
}

/* General styles for links in the navbar */
#main-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Styles for links on hover in the navbar */
#main-nav ul li a:hover {
    text-decoration: underline;
}

/* Highlight navbar selected item with increased specificity */
#main-nav ul li a.navbar-selected {
    color: #964ae2;
}

.challenges-link::after {

}
