main {
    max-width: 80em;
    padding: 1em;
    text-align: center;
    margin: 0 auto;
}

#user-profile-card {
    margin-bottom: 2em;
}

#recent-solves {
    margin-top: 30px;
    overflow-x: auto;
}

#recent-solves h2 {
    padding-bottom: var(--spacing);
}

#recent-solves #chart-container {
    padding-top: 2em;
}

#username-heading {
    color: var(--purple-1);
}
