:root {
    --fg-color: white;
    --bg-color: #121212;
    --light-bg-color: #1e1e1e;
    --purple-1: #964ae2; /* purple */
    --purple-2: #7329c4; /* hover */
    --link-color: #4a90e2;
    --form-field-border-color: #333;
    --hover-color: #1a1a1a;
    --user-highlight: #004225;

    --spacing: 0.5em;
}

/* Reset some default styling */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

/* Basic body styling */
body {
    min-height: 100%; /* Make body fill entire page at minimum *https://stackoverflow.com/a/17555766) */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--fg-color);
    background-color: var(--bg-color);
}



/* Header styling */
#main-header h1 {
    color: var(--fg-color);
    text-align: center;
    padding: 0.5em 0;
    background-color: var(--light-bg-color);
}

/* Navigation Bar Styling */
#main-nav {
    background-color: var(--light-bg-color);
    padding: 0.5em 1em;
    text-align: center;

    border-bottom: 1px solid black;
}

#main-nav ul {
    list-style: none;
    padding: 0;
}

#main-nav ul li {
    display: inline;
    margin-right: 0.5em;
}

/* General styles for links in the navbar */
#main-nav ul li a {
    color: inherit;
    font-weight: bold;
}

/* Highlight navbar selected item with increased specificity */
#main-nav ul li a.navbar-selected {
    color: var(--purple-1);
}


/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 0.5em;
    border-bottom: 1px solid var(--form-field-border-color);
}

thead {
    background-color: var(--form-field-border-color);
}

tbody tr:hover {
    background-color: var(--hover-color);
}

tbody tr.highlight {
    background-color: var(--user-highlight);
}

a {
    color: var(--link-color);
}

a.action, :not(p) > a {
    text-decoration: none;
}

a.action:hover, :not(p) > a:hover {
    text-decoration: underline;
}

details > summary {
    cursor: pointer;
}


body > main {
    padding: 1em;
}


/* Rules */
#rules-section {
    text-align: left;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

#rules-section h1 {
    padding-left: calc(40px + 1rem);
}

/* Ordered List Styling */
ol {
    /* https://html.spec.whatwg.org/multipage/rendering.html#lists */
    /* dir, menu, ol, ul { padding-inline-start: 40px; } */
    padding-left: 40px; /* Default user agent offset for numbering */
}

ol li {
    padding: 0.75em 0; /* Padding for each list item to space them out */
    padding-left: 1rem; /* Gap between list item and marker */
    border-bottom: 1px solid var(--form-field-border-color); /* Subtle border for each item */
    line-height: 1.8; /* Slightly larger line height for readability */
}


/* Enhancing the number styling */
ol li::marker {
    color: var(--purple-1);
    font-weight: bold; /* Makes the numbers bold */
}

.card {
    background-color: var(--light-bg-color);
    padding: 1.5em;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--form-field-border-color); /* Darker border for a subtle and elegant look */
}

/* Leaderboard & Solves History */
div.link-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 0.2em;
    padding-bottom: var(--spacing);
}

/* Chart pages */
button.reset-zoom {
    float: right;
}

div#chart-container {
    height: 50vh;
    width: 90vw;
    max-width: 100%;
    margin: 0 auto;
}
