/* Reset some default styling */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Basic body styling */
body {
    height: 100%; /* Make body fill entire page, but dont extend further */
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ddd;
    background-color: #121212;
}



/* Header styling */
#main-header h1 {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background-color: #222;
}

/* Andrew cool css */
#challenge-main {
    display: flex;
    flex-direction: row-reverse;
}

/* Section styling */
#challenge-list {
    padding: 40px;
    flex: 1;
}



.challenge h2 {
    color: #964ae2; /* purple */
}

.description {
    margin-top: 5px;
    margin-bottom: 15px;
}


.category, .points, .files, .difficulty, .author {

}



.files ul {
    padding-top: 15px; /* Separate file downloads from the rest of the challenge */

    padding-left: 0; /* Removes the default padding */
    display: flex; /* Enables flexbox layout */
    flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
    list-style: none; /* Removes default list styling */
    margin: 0; /* Removes default margin */
}

.files li {
    margin-right: 20px; /* Adds some space between file links */
    white-space: nowrap; /* Prevents the text from wrapping */
}


.files a {
    color: #4a90e2;
    text-decoration: none;
}

.files a:hover {
    text-decoration: underline;
}



/* Login form styling */
/* styles.css */
#login-section {
    width: 400px; /* Width adjusted for a larger form */
    margin: 80px auto; /* Increased vertical margin for more central focus */
    padding: 40px; /* Increased padding for a spacious interior */
    border: 2px solid #333; /* Darker border for a subtle and elegant look */
    border-radius: 10px; /* Smoothed rounded corners */
    background-color: #1e1e1e; /* Dark background */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9); /* Enhanced shadow for a deeper 3D effect */
}

#login-section h1 {
    text-align: center;
    color: #964ae2; /* Purple accent for the title */
    font-size: 24px; /* Larger font size for visibility */
    margin-bottom: 30px; /* More space below the header */
}

#login-section form {
    display: flex;
    flex-direction: column;
}

#login-section input[type="text"],
#login-section input[type="password"] {
    padding: 15px; /* Comfortable padding */
    margin-bottom: 15px; /* Adequate spacing between fields */
    border: 1px solid #333; /* Darker border to match the outer border */
    background-color: #121212; /* Consistent dark theme for input fields */
    color: #ccc; /* Lighter text for readability */
    border-radius: 5px; /* Soft rounded corners for the inputs */
    font-size: 16px; /* Increased font size for ease of reading */
}

#login-section input[type="submit"] {
    padding: 15px; /* Generous padding for a substantial button */
    color: white;
    background-color: #964ae2; /* Purple accent color */
    border: none;
    border-radius: 5px; /* Consistent radius with other elements */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px; /* Larger text for a bold statement */
}

#login-section input[type="submit"]:hover {
    background-color: #7329c4; /* Darker purple on hover for visual feedback */
}

#login-section p {
    color: #ccc; /* Light grey color for readability against the dark background */
    font-size: 14px; /* Slightly smaller font size for less emphasis compared to input fields */
    text-align: center; /* Center-align text for consistency with the form's alignment */
    margin-top: 20px; /* Spacing above the paragraph to separate it from the form */
}

#login-section a {
    color: #964ae2; /* Purple color for the link to match the accent color */
    text-decoration: none; /* No underline to keep it clean and modern */
}

#login-section a:hover {
    color: #7329c4; /* Darker purple on hover for visual feedback */
    text-decoration: underline; /* Underline on hover to indicate it's clickable */
}


/* Flag Submission Form Styling */
#flag-form {
    display: flex;
    align-items: center; /* Aligns items vertically in the middle */
    justify-content: start; /* Aligns items to the start of the form */
    max-width: 100%; /* Ensures the form does not exceed the container width */
    margin-bottom: 20px;
}

#flag-form input[type="text"] {
    flex-grow: 1; /* Allows the text input to grow and fill available space */
    padding: 8px;
    border: 1px solid #333;
    background-color: #333;
    color: #ddd;
    border-radius: 4px;
    margin-right: 5px; /* Space between text input and submit button */
}

#flag-form input[type="text"]:focus {
    outline: none;
    border-color: #555;
}

#flag-form input[type="submit"] {
    padding: 8px 16px;
    border: none;
    background-color: #964ae2;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#flag-form input[type="submit"]:hover {
    background-color: #7329c4; /* Darker purple on hover for visual feedback */
}

/* Section where flag submission form, and filter form is stored */
#flag-section {

    gap: 20px;
    padding: 30px;

    background-color: #1e1e1e;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    /* Andrew god */
    position: sticky;
    top:0;
    max-height: 100vh;
}

#flag-section h2 {
    font-size: 22px;
}

/* Rules */
#rules-section {
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #ddd
}

#filter-form {
    /* Centering the form */
    margin: 0 auto 30px;
}

#filter-form select {
    background-color: #333; /* Darker background for input fields */
    color: #ccc; /* Light gray text color */
    border: none;
    padding: 10px;
    margin-bottom: 10px; /* Spacing between form elements */
    width: 100%; /* Full width */
    border-radius: 4px; /* Slightly rounded edges for inputs */
}

#filter-form input[type="submit"] {
    background-color: #964ae2; /* Stylish purple color for numbers to match headers */
    color: #fff; /* White text */
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transition for hover effect */
    width: 100%; /* Full width */
    border-radius: 4px; /* Rounded edges */
}

#filter-form input[type="submit"]:hover {
    background-color: #7329c4; /* Darker purple on hover for visual feedback */
}

/* Style for the challenge listings */
#challenge-list .challenge {
    background-color: #222; /* Dark background for each challenge */
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px; /* Rounded corners for challenge cards */
    border-left: 5px solid #7329c4; /* Stylish left border */
}

#challenge-list .challenge[data-solved] {
    border-color: #339900;
}

#challenge-list .challenge[data-solved] h2 {
    color: darkgrey;
}



/* Home page */
#home-section {
    text-align: center;
    margin-top: 50px;
    padding: 20px;

}

#rules-section h1 {
    padding-left: 50px;
}

/* Ordered List Styling */
ol {
    counter-reset: item;
    margin: 20px 0; /* Adds vertical space around the list */
    padding-left: 40px; /* Offset for numbering */
    list-style-type: decimal; /* Default decimal numbering */
    color: #ccc; /* Light grey text for better readability against the dark background */
}

ol li {
    padding: 10px 0; /* Padding for each list item to space them out */
    border-bottom: 1px solid #333; /* Subtle border for each item */
    line-height: 1.8; /* Slightly larger line height for readability */
}


/* Enhancing the number styling */
ol li:before {
    content: counter(item) ". "; /* Adds a period after the number */
    counter-increment: item; /* Automatically increments the numbers */
    color: #964ae2; /* Stylish purple color for numbers to match headers */
    font-weight: bold; /* Makes the numbers bold */
    margin-right: 10px; /* Space between the number and text */
}


