{% import 'dependencies.html' as dependencies %}
{% extends "base.html" %}
{% block title %}lol the "admin" panel{% endblock %}



{% block head %}
    {{ super() }}
    <style>
        html {
            scroll-behavior: smooth;
        }
        main {
            max-width: 80em;
            margin: 0 auto;
        }
        main > * {
            margin-bottom: 1em;
        }
        #scroll-container {
            overflow-x: auto;
        }
    </style>

    {{ dependencies.head(tippy=True) }}

    <script src="{{ url_for('static', filename='js/utils.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/solves.js') }}" defer></script>
{% endblock %}

{% block body %}
    <h1>Lol its an admin panel</h1>

        <h1>Ban a dingus</h1>
        <form id="login-form" action="/ban_account" method="POST">
            <input type="text" name="username" placeholder="Username" required="required" autocapitalize="none" autofocus>

            <input type="submit" value="BAAAAANNNNNNN HAAAAMMMMMEEEERRRRRR">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
{% endblock %}
