<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title required %}{% endblock %} | SaintCTF</title>

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <!-- Jquery 3.6.0 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% endblock %}
</head>

<body style="background-color: #121212;">
    {% include 'navbar.html' %}
    {% block body required %}{% endblock %}
</body>
</html>
