<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title required %}{% endblock %} | SaintCTF</title>

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <!-- jQuery 3.7.1 -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous" defer></script>
    {% endblock %}
</head>

<body style="background-color: #121212;">
    <header id="main-header">
        {# https://stackoverflow.com/a/11665879 #}
        {% macro nav_item(endpoint, display) -%}
        <li>
            <a {% if request.endpoint == endpoint %} class="navbar-selected" {% endif %}
                href="{{ url_for(endpoint, **kwargs) }}">{{ display }}</a>
        </li>
        {%- endmacro %}
        <h1>SaintCTF</h1>

        <nav id="main-nav">
            <ul>
                {{ nav_item("index", "Home") }}
                {{ nav_item("rules", "Rules") }}
                {{ nav_item("leaderboard", "Leaderboard") }}
                {{ nav_item("challenges", "Challenges") }}

                <li>|</li>

                {% if not user.is_authenticated %}
                    {{ nav_item("login", "Login") }}
                    {{ nav_item("signup", "Sign Up") }}
                {% else %}
                    <li><a href="javascript:void(0);" onclick="performLogout()">Logout</a></li>
                    {{ nav_item("profile", "Profile", user_id=user.id) }}
                {% endif %}

                

                {% if user.admin %}
                    <li>|</li>
                    {{ nav_item("admin_panel", "Admin Panel") }}
                {% endif %}

            </ul>
        </nav>
        <!-- Submit CSRF token when logging out -->
        <form id="logout-form" method="post" action="/logout">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        <form id="delete-form" method="post" action="/delete_account">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>

        <script>
            performLogout = () => {
                document.getElementById("logout-form").submit();
            }
        </script>
    </header>
    <main>{% block body required %}{% endblock %}</main>
</body>
</html>
