{% extends "base.html" %}
{% block title %}Challenges{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/challenges.css') }}">

    <!-- Sweet alert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js" defer></script>
    <!-- as lazy as normal alerts, better than you could make them yourself -->

    <script src="{{ url_for('static', filename='js/challenges.js') }}" defer></script>
{% endblock %}

{% block body %}
    {% set unsolved_count = challenges|length - solved_count %}

    <div id="flag-section-container">
        <section id="flag-section">
            <h1>Welcome {{ current_user.username }}!</h1>
            <p>You have {{ score }} points.</p>

            <h2>Filter Challenges</h2>
            <p><span id="visible-count">{{ unsolved_count }}</span> / {{ challenges|length }} challenge(s) visible</p>

            <!-- Challenge filtering form -->
            <form id="filter-form" action="javascript:void(0);">
                <select name="category">
                    <option value="">All Categories</option>
                    <option value="web">web</option>
                    <option value="crypto">crypto</option>
                    <option value="pwn">pwn</option>
                    <option value="rev">rev</option>
                    <option value="osint">osint</option>
                    <option value="steg">steg</option>
                    <option value="misc">misc</option>
                </select>
                <select name="difficulty">
                    <option value="">All Difficulties</option>
                    <option value="free points">free points</option>
                    <option value="easy">easy</option>
                    <option value="medium">medium</option>
                    <option value="hard">hard</option>
                    <option value="insane">insane</option>
                    <option value="not ok">not ok</option>
                </select>
                <div>
                    <input type="checkbox" name="solved" id="solved" />
                    <label for="solved">Show solved challenges ({{ solved_count }})</label>
                </div>
            </form>


            <h2>Flag Submission</h2>
            <!-- Flag submission form -->
            <form action="/submit-flag" class="flag-form" id="flag-form" method="post">
                <input type="text" id="flag" name="flag" placeholder="saint{EXAMPLE_FLAG}">
                <input type="submit" value="Submit Flag">

                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            </form>

        </section>
    </div>

    <section id="challenge-list">
        <p>{{ unsolved_count }} challenge(s) left to solve</p>

        {% for id, challenge in challenges.items()|sort(attribute='1.points') %}
            <article class="card challenge" id="{{ id | challenge_anchor_id }}"
                     data-category="{{ challenge.category }}"
                     data-difficulty="{{ challenge.difficulty }}"
                     {% if solves[id]|map(attribute='user.username')|select('eq', current_user.username)|list %}
                         data-solved style="display: none;"
                     {% endif %}
                 >
                <!-- Challenge info -->
                <header>
                    <div>
                        <h2><span>{{ challenge.name }}</span>
                            <a href="#{{ id | challenge_anchor_id }}" title="Link to this challenge">
                                {# SVG from https://feathericons.com #}
                                <svg xmlns="http://www.w3.org/2000/svg" width="0.8em" height="0.8em" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-link"><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></svg>
                            </a>
                        </h2>
                        <p class="author">{{ challenge.author }}</p>
                    </div>

                    <div class="info-block">
                        <div class="filter-tags">
                            <a class="filter-tag" href="javascript:void(0);" data-filter-type="difficulty" title="Filter by difficulty">{{ challenge.difficulty }}</a>
                            <a class="filter-tag" href="javascript:void(0);" data-filter-type="category" title="Filter by category">{{ challenge.category }}</a>
                        </div>
                        <p class="points">{{ challenge.points }} points</p>
                    </div>
                </header>
                <p class="description"> {{ challenge.description | safe }} </p>

                {% if challenge.files %}
                    <!-- Challenge downloads -->
                    <div class="files">
                        <h3>Files</h3>
                        <ul>
                            {% for file in challenge.files %}
                                <li><a href="downloads/{{ id }}/{{ file }}" download="{{ file }}">{{ file }}</a></li>

                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if challenge.container %}
                    <!-- Challenge Links-->
                    <div class = "files">
                        <h3>Link</h3>
                        <ul>
                            <li><a href="{{ challenge.container.url }}">{{ challenge.container.url }}</a></li>
                        </ul>
                    </div>
                {% endif %}
              
                <footer>
                    {% if solves[id] %}
                        <details class="solves-count">
                            <summary>{{ solves[id]|length }} solve(s)</summary>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Time</th>
                                    </tr>
                                </thead>
                                {% for solve in solves[id] %}
                                    <tr {% if solve.user.username == current_user.username %}
                                        class="highlight"
                                        {% endif %}
                                        >
                                        <td>{{solve.user.username}}</td>
                                        <td>{{solve.time | time_ago}}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </details>
                    {% else %}
                        <p class="solves-count">0 solves</p>
                    {% endif %}
                </footer>


            </article>
        {% endfor %}
    </section>
{% endblock %}
