<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenges | SaintCTF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">

    <!-- Sweet alert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <!-- as lazy as normal alerts, better than you could make them yourself -->

    <!-- Jquery 3.6.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        // OH MY GOD ITS JQUERY RUNNNNNN
        $(document).ready(function () {
            $('#flag-form').submit(function (e) {
                // Prevents default ugly form submission
                e.preventDefault();

                // Extract data
                let form = $(this);

                $.ajax({
                    type: 'POST',
                    url: '/submit-flag',
                    data: form.serialize(), // Pass the form data to the endpoint

                    // When the response comes back
                    success: function (response) {
                        console.log(response)

                        // If the flag was correct
                        if (response.status === 'correct') {
                            // Correct alert
                            Swal.fire({
                                title: "Correct flag!",
                                text: response.message,
                                icon: "success"

                            }).then(
                                function () {
                                    // Reload page after the user dismisses the alert
                                    // This is to update the solved challenges and user score
                                    window.location.reload()
                                }
                            );


                        } else if (response.status === 'already_submitted') {
                            // Already submitted alert
                            Swal.fire({
                                title: "Already submitted!",
                                text: response.message,
                                icon: "warning"
                            });

                        } else {
                            // Wrong alert
                            Swal.fire({
                                title: "Wrong flag!",
                                text: response.message,
                                icon: "error"
                            });
                        }

                    },

                    // After its all done, we clear the flag input field
                    complete: function (data) {
                        let input = $('#flag')
                        input.val('');
                    }
                });
            });
        });


        $(document).ready(function () {
            // Set navbar selected
            $(".challenges-link").addClass("navbar-selected");

            // Script for challenge filtering
            $('#filter-form').on("change", function (e) {
                const selectedCategory = $('[name="category"]').val();
                const selectedDifficulty = $('[name="difficulty"]').val();
                const showSolved = $('[name="solved"]').prop('checked');

                let visibleCount = 0;
                $('.challenge').each(function () {
                    const challenge = $(this);

                    challenge.stop(true, false); // Clear queue of animations, but do not jump to end of current animation.

                    const matchesCategory = selectedCategory === "" || challenge.data('category') === selectedCategory;
                    const matchesDifficulty = selectedDifficulty === "" || challenge.data('difficulty') === selectedDifficulty;
                    const matchesUnsolved = challenge.data('solved') === undefined;

                    const effectOptions = {duration: 250, easing: "linear"};

                    if (matchesCategory && matchesDifficulty && (matchesUnsolved || showSolved)) {
                        challenge.slideDown(effectOptions);
                        visibleCount++;
                    } else {
                        challenge.slideUp(effectOptions);
                    }
                });

                $("#visible-count").html(visibleCount);
            });
        });

    </script>
</head>
<body style="background-color: #121212;">
{% include 'navbar.html' %}

<main id="challenge-main">
    {% set solved_count = challenges | selectattr("solvers", "contains", current_user.username) | list | length %}
    {% set unsolved_count = challenges | rejectattr("solvers", "contains", current_user.username) | list | length %}

    <section id="flag-section">
        <h2>Filter Challenges</h2>
        <p><span id="visible-count">{{ unsolved_count }}</span> / {{ challenges|length }} challenge(s) visible</p>

        <!-- Challenge filtering form -->
        <form id="filter-form" action="javascript:void(0);">
            <select name="category">
                <option value="">All Categories</option>
                <option value="web">web</option>
                <option value="crypto">crypto</option>
                <option value="pwn">pwn</option>
                <option value="rev">rev</option>
                <option value="osint">osint</option>
                <option value="misc">misc</option>
            </select>
            <select name="difficulty">
                <option value="">All Difficulties</option>
                <option value="free">free</option>
                <option value="easy">easy</option>
                <option value="medium">medium</option>
                <option value="hard">hard</option>
            </select>
            <div>
                <input type="checkbox" name="solved" id="solved" />
                <label for="solved">Show solved challenges ({{ solved_count }})</label>
            </div>
        </form>


        <h2>Flag Submission</h2>
        <!-- Flag submission form -->
        <form action="/submit-flag" id="flag-form" method="post">
            <label for="flag"></label><input type="text" id="flag" name="flag" placeholder="saint{EXAMPLE_FLAG}">
            <input type="submit" value="Submit Flag">

        </form>

        <strong>Hello {{ current_user.username }}</strong> <br>
        <strong>You have {{ current_user.score }} points</strong>

    </section>

    <section id="challenge-list">
        <p>{{ unsolved_count }} challenge(s) left to solve</p>

        {% for challenge in challenges %}
            <article class="challenge" data-category="{{ challenge.category }}"
                     data-difficulty="{{ challenge.difficulty }}"
                     {% if current_user.username in challenge.solvers %}
                         data-solved style="display: none;"
                     {% endif %}
                 >
                <!-- Challenge info -->
                <h2>{{ challenge.name }}</h2>
                <p class="description"> {{ challenge.description | safe }} </p>
                <p class="category"><strong>Category:</strong> {{ challenge.category }}</p>
                <p class="difficulty"><strong>Difficulty:</strong> {{ challenge.difficulty }}</p>
                <p class="points"><strong>Points:</strong> {{ challenge.points }}</p>
                <p class="author"><strong>Author:</strong> {{ challenge.author }}</p>
                <p class="solve-counter"><strong>Solves:</strong> {{ challenge.solvers|length }}</p>

                {% if challenge.files %}
                    <!-- Challenge downloads -->
                    <div class="files">
                        <ul>
                            {% for file in challenge.files %}
                                <li><a href="{{ file.url }}" download="{{ file.name }}">{{ file.name }}</a></li>

                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}


            </article>
        {% endfor %}
    </section>
</main>
</body>
</html>
