{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/challenges.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <section class="card small" id="welcome">
            <h1>Welcome to SaintCTF</h1>
            <p>Please sign up <a href="/register">here</a>!</p>
            <p>Make sure to read the <a href="{{ url_for('rules') }}">rules</a> before competing in any <a href="{{ url_for('challenges') }}">challenges</a>!</p>
        </section>

        <section class="card medium" id="what-is-ctf">
            <h1>What's a CTF?</h1>
            <p>If you are new to CTFs, then here's an explanation:</p>
            <p>A <em>capture the flag</em> (CTF) is a cybersecurity competition, where teams compete to solve as many challenges as they can, as fast as possible.</p>
            <p>Challenges range across several categories, such as crypto(graphy), reverse engineering, and web exploitation.</p>
            <p>Wikipedia explains it better than I can <a href="https://en.wikipedia.org/wiki/Capture_the_flag_(cybersecurity)">here</a>.</p>
        </section>

        <section class="card medium" id="getting-started">
            <h1>Where do I get started?</h1>
            <p>There are many ways to get started with a CTF &mdash; you'll get the most out of it just by trying!</p>
            <p>Just searching for things will get you further than you think in a CTF, especially if it's an unfamiliar topic &mdash; your search engine is your friend.</p>

            <p>Here are some tools to get you started:</p>
            <h2 id="tools">Tools</h2>
            <ul>
                <li><a href="https://gchq.github.io/CyberChef">CyberChef</a> &mdash; The Swiss Army knife of cybersecurity tools</li>
                <li><a href="https://dcode.fr/en">dCode</a> &mdash; A great tool with solvers for many common ciphers</li>
                <li><a href="https://github.com/NationalSecurityAgency/ghidra">Ghidra</a> &mdash; The industry standard tool for reverse engineering developed by the NSA (Yes, that NSA!)</li>
                <li><a href="https://portswigger.net/burp/communitydownload">Burp Suite</a> &mdash; A great web penetration testing framework</li>

            </ul>
        </section>

        <section class="card small" id="statistics">
            <h1>Statistics</h1>
            <ul>
                <li>{{ stats["challenges"] }} challenges</li>
                <li>{{ stats["solves"] }} solves</li>
                <li>{{ stats["players"] }} players</li>
                <li>{{ stats["points"] }} points (total)</li>
            </ul>
        </section>

        <section class="card large" id="help">
            <h1>How do I play?</h1>
            <main class="challenge-main">
                <div id="flag-section-container">
                    <section id="flag-section">
                        <p>When you've solved a challenge, enter the flag into the <strong>Flag Submission</strong> text field, and press <em>Submit Flag</em>.</p>
                            <form action="javascript:void(0);" id="flag-form">
                                <input type="text" id="flag" name="flag" value="saint{EXAMPLE_FLAG}" disabled>
                                <input type="submit" value="Submit Flag">
                            </form>
                    </section>
                </div>

                <section id="challenge-list">
                    <p>You'll see challenges like this:</p>
                    <article class="card challenge">
                        <!-- Challenge info -->
                        <header>
                            <div>
                                <h2><span>My First Challenge!</span></h2>
                                <p class="author">Author</p>
                            </div>

                            <div class="info-block">
                                <div class="filter-tags">
                                    <a class="filter-tag" href="javascript:void(0);" data-filter-type="difficulty" title="Filter by difficulty">easy</a>
                                    <a class="filter-tag" href="javascript:void(0);" data-filter-type="category" title="Filter by category">category</a>
                                </div>
                                <p class="points">20 points</p>
                            </div>
                        </header>

                        <p class="description">
                            This is the description, where authors can provide information and context for the challenge.<br>
                            <strong>Pay attention to the challenge's name and description, as they may provide useful clues!</strong>
                        </p>

                        <footer>
                            <p><em>If there are any resources, you'll see them listed here.</em></p>
                            <p class="solves-count">8 solves</p>
                        </footer>
                    </article>
                </section>

            </main>
        </section>

    </div>

    <footer>
        <p>©Ning, Alex, Andrew, 2024</p>
    </footer>
{% endblock %}
