<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile | SaintCTF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">

    <!-- Sweet alert 2 -->
    <!-- as lazy as normal alerts, better than you could make them yourself -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <!-- Jquery 3.6.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <!-- Chart.js 3.5.1 with date-fns adapter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>
<body style="background-color: #121212;">
{% include 'navbar.html' %}

<div id="leaderboard-page">
    <h2 id="leaderboard-heading">Top 10 scores over time</h2>
    <canvas id="leaderboard-graph"></canvas>
    <div class="dashboard-container">
        <section id="leaderboard-section" class="dashboard-panel">
            <h2>Leaderboard</h2>
            <table id="leaderboard"></table>
        </section>

        <section id="recent-activity-section" class="dashboard-panel">
            <h2>Recent Solves</h2>
            <table id="recent-table"></table>
        </section>
    </div>
</div>
<script>
    $(document).ready(function () {

        function updateLeaderboard() {

            // Make a request to the leaderboard API
            $.getJSON("/get-leaderboard", function (data) {

                // The current user will be highlighted
                let currentUsername = "{{ user.username }}";

                // Nuke the old leaderboard
                let leaderboard = $("#leaderboard");
                leaderboard.empty();

                // Make header
                leaderboard.append(`<thead> <tr><th style="width: 50px;">Rank</th> <th>Name</th> <th>Score</th></tr> </thead>`);


                // Rebuild the leaderboard
                let tbody = $("<tbody></tbody>");
                $.each(data, function (index, user) {
                    // Check if the user is the current user, and highlight if they are
                    let highlight = user.username === currentUsername ? 'id="current-user"' : '';
                    tbody.append(`<tr ${highlight}><td>${index + 1}</td><td id="username-data"><a href="/profile/${user.user_id}">${user.username}</a></td><td>${user.score}</td></tr>`);

                });
                leaderboard.append(tbody);
            });


        }

        function updateRecentActivity() {
            // Make a request to the Recent Solves API
            $.getJSON("/get-recent-solves", function (data) {
                let recentTable = $("#recent-table");
                // Clear the old content
                recentTable.empty();

                // Define the table headers
                recentTable.append(`<thead><tr><th>Solver</th><th>Challenge</th><th>Time</th></tr></thead>`);

                // Append data to the table body
                let tbody = $("<tbody></tbody>");
                $.each(data, function (index, solve) {
                    tbody.append(`<tr><td>${solve.solver}</td><td>${solve.challenge.name}</td><td>${solve.time_ago}</td></tr>`);
                });
                recentTable.append(tbody);
            });
        }

        // When page loads, we update leaderboard and recent activity once
        updateRecentActivity();
        updateLeaderboard();

        // We refresh our info every 5 seconds
        setInterval(updateRecentActivity, 5000);
        setInterval(updateLeaderboard, 5000);


        // Set navbar selected
        $(".leaderboard-link").addClass("navbar-selected");
    });

    $(document).ready(function () {
        const ctx = document.getElementById('leaderboard-graph').getContext('2d');
        let leaderboardChart;
        const userColors = {};

        function fetchDataAndRenderChart() {
            $.getJSON('/get-leaderboard-graph-data', function (data) {
                const chartData = formatChartData(data);
                renderChart(chartData);
            });
        }

        function formatChartData(rawData) {
            const datasets = {};
            rawData.forEach(item => {
                if (!datasets[item.user]) {
                    if (!userColors[item.user]) {
                        userColors[item.user] = getRandomColor(); // Assign color if user does not have one
                    }
                    datasets[item.user] = {
                        label: item.user,
                        data: [],
                        borderColor: userColors[item.user], // Use stored color
                        fill: false,
                    };
                }
                datasets[item.user].data.push({
                    x: item.time,
                    y: item.points
                });
            });

            return Object.values(datasets);
        }


        function updateChart(newData) {
            leaderboardChart.data.datasets = newData;
            leaderboardChart.update();
        }

        function renderChart(data) {
            if (leaderboardChart) {
                updateChart(data);
            } else {
                leaderboardChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        datasets: data
                    },
                    options: {
                        scales: {
                            x: {
                                type: 'time',
                                ticks: {
                                    color: '#FFFFFF' // White color for ticks
                                },
                            },
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    color: '#FFFFFF', // White color for ticks
                                },
                                grid: {
                                    color: 'rgba(255,255,255,0.1)' // Lighter grid lines against a dark background
                                },
                                title: {
                                    display: true,
                                    text: 'Score',
                                    color: '#FFFFFF' // Ensuring the title is also white
                                }
                            }
                        },
                        responsive: true,
                        plugins: {
                            legend: {
                                position: 'top',
                                labels: {
                                    color: '#FFFFFF' // White color for legend text
                                }
                            }
                        },
                        layout: {
                            padding: 20
                        },
                        backgroundColor: '#333333'
                    }
                });
            }
        }

        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }


        fetchDataAndRenderChart();
        setInterval(fetchDataAndRenderChart, 10000);
    });

</script>
</body>
</html>
