{% extends "base.html" %}
{% block title %}Leaderboard{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/leaderboard.css') }}">

    <!-- Sweet alert 2 -->
    <!-- as lazy as normal alerts, better than you could make them yourself -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css"/>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js" defer></script>

    <script src="https://unpkg.com/@popperjs/core@2" defer></script>
    <script src="https://unpkg.com/tippy.js@6" defer></script>


    <!-- Chart.js 3.5.1 with date-fns adapter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js" defer></script>

    <!-- chartjs-plugin-zoom 2.0.1 with Hammer.js 2.0.8 (gesture recognition) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/2.0.1/chartjs-plugin-zoom.min.js" integrity="sha512-wUYbRPLV5zs6IqvWd88HIqZU/b8TBx+I8LEioQ/UC0t5EMCLApqhIAnUg7EsAzdbhhdgW07TqYDdH3QEXRcPOQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

    <script src="{{ url_for('static', filename='js/utils.js') }}" defer></script>
    <script data-username="{{ user.username }}" src="{{ url_for('static', filename='js/leaderboard.js') }}" defer></script>
{% endblock %}

{% block body %}
    <h2 id="leaderboard-heading">Top 10 scores over time</h2>
    <div>
        <p>Drag/pinch, or hold shift and use mouse wheel/drag to zoom/pan</p>
        <button class="reset-zoom" onclick="resetChartZoom()">Reset Zoom</button>
    </div>
    <div id="leaderboard-chart-container">
        <canvas id="leaderboard-chart"></canvas>
    </div>
    <div class="dashboard-container">
        <section id="leaderboard-section" class="card dashboard-panel">
            <h2>Leaderboard</h2>
            <table id="leaderboard"></table>
        </section>

        <section id="recent-activity-section" class="card dashboard-panel">
            <div class="link-row">
                <h2>Recent Solves</h2>
                <a href="{{ url_for('solves') }}">See all solves &rarr;</a>
            </div>
            <table id="recent-table"></table>
        </section>
    </div>
{% endblock %}
