{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/entry.css') }}">

    <!-- Sweet alert -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@5/dark.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>    <!-- as lazy as normal alerts, better than you could make them yourself -->

    <script {% if login_msg %} data-login_msg {% endif %}
        src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

{% block body %}
    <section class="card" id="login-section">
        <h1>Login</h1>
        <form id="login-form" action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required="required" autocapitalize="none">
            <input type="password" name="password" placeholder="Password" required="required">
            <input type="submit" value="Log in">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        </form>
        <p>No account? Sign up <a class="action" href="/register">here &rarr;</a></p>
    </section>
{% endblock %}
