{% import 'dependencies.html' as dependencies %}
{% import 'charts.html' as charts %}
{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

    {{ dependencies.head(sweetalert2=True, tippy=True, chart_js=True) }}

    <script src="{{ url_for('static', filename='js/utils.js') }}" defer></script>
    <script data-username="{{ displayed_user.username }}" data-datapoints='{{ graph_datapoints|tojson }}'
        src="{{ url_for('static', filename='js/profile.js') }}" defer></script>
{% endblock %}

{% block body %}
    <section id="user-profile-card">
        <h2 id="username-heading">{{ displayed_user.username }}</h2>
        {% if not admin %}
        <h2>Rank {{ rank }}</h2>
        <h2>{{ score }} Points</h2>
        {% else %}
        <h2>This user is an admin</h2>
        {% endif %}
    </section>

    {% if not admin %}
    {{ charts.chart("score-history", True, False) }}

    <section class="card" id="recent-solves">
        <h2>Solves</h2>
        {% if solves %}
            <table class="solves-table">
                <thead>
                    <tr>
                        <th>Challenge</th>
                        <th></th>
                        <th>Category</th>
                        <th>Difficulty</th>
                        <th>Points</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solve in solves %}
                    <tr>
                        <td><a href="{{ url_for('challenges') }}#{{ solve.challenge_id | challenge_anchor_id }}">{{ solve.challenge.name }}</a></td>
                        <td>{% if solve.first_blood %}<span title="First blood">🏆</span>{% endif %}</td>
                        <td>{{ solve.challenge.category }}</td>
                        <td>{{ solve.challenge.difficulty }}</td>
                        <td>{{ solve.challenge.points }}</td>
                        <td><time datetime="{{ solve.time.isoformat() }}">{{ solve.time_ago }}</time></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {{ charts.chart("solve-chart", False, False) }}
        {% else %}
            <p>No solves yet :(</p>
        {% endif %}
    </section>
    {% endif %}
{% endblock %}
