<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | SaintCTF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">

    <!-- Jquery 3.6.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <!-- Chart.js 3.5.1 with date-fns adapter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>
<body>
    {% include 'navbar.html' %}

    <main class="container">
        <section id="user-profile-card">
            <h2 id="username-heading">{{ displayed_user.username }}</h2>
            <h2>Rank {{ rank }}</h2>
            <h2>{{ displayed_user.score }} Points</h2>
        </section>

        <canvas id="score-history"></canvas>

        <section id="recent-solves">
            <h2>Solves</h2>
            {% if solves %}
                <table class="solves-table">
                    <thead>
                        <tr>
                            <th>Challenge</th>
                            <th>Category</th>
                            <th>Difficulty</th>
                            <th>Points</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for solve in solves %}
                        <tr>
                            <td>{{ solve.challenge.name }}</td>
                            <td>{{ solve.challenge.category }}</td>
                            <td>{{ solve.challenge.difficulty }}</td>
                            <td>{{ solve.challenge.points }}</td>
                            <td>{{ solve.time_ago }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No solves yet :(</p>
            {% endif %}
        </section>
    </main>

    <script>
        $(document).ready(function() {
            // Set navbar selected
            $(".profile-link").addClass("navbar-selected");


            // Prepare data for the score chart
            let times = [];
            let points = [];

            {% for datapoint in graph_datapoints %}
            times.push("{{ datapoint.time }}");
            points.push({{ datapoint.points }});
            {% endfor %}


            let ctx = document.getElementById('score-history').getContext('2d');
            let scoreChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: times,
                    datasets: [{
                        label: '{{ displayed_user.username }}',
                        data: points,
                        stepped: "before",

                        backgroundColor: 'rgba(54, 162, 235, 0.5)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        x: {
                            type: 'time',
                            ticks: {
                                color: '#FFFFFF'
                            },
                        },
                        y: {
                            beginAtZero: true,
                            ticks: {
                                color: '#FFFFFF'
                            },
                            grid: {
                                color: 'rgba(255,255,255,0.1)'
                            },
                            title: {
                                display: true,
                                text: 'Score'
                            }
                        }
                    },
                    responsive: true,
                    plugins: {
                        legend: {
                            position: 'top',
                            labels: {
                                color: '#FFFFFF'
                            }
                        }
                    },
                    layout: {
                        padding: 20
                    },
                }
            });
        });
    </script>
</body>
</html>
