{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">



    <!-- Chart.js 3.5.1 with date-fns adapter -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js" defer></script>

    <script data-username="{{ displayed_user.username }}" data-datapoints='{{ graph_datapoints|tojson }}'
        src="{{ url_for('static', filename='js/profile.js') }}" defer></script>
{% endblock %}

{% block body %}
    <section id="user-profile-card">
        <h2 id="username-heading">{{ displayed_user.username }}</h2>
        <h2>Rank {{ rank }}</h2>
        <h2>{{ displayed_user.score }} Points</h2>
    </section>

    <div id="chart-container">
        <canvas id="score-history"></canvas>
    </div>

    <section id="recent-solves">
        <h2>Solves</h2>
        {% if solves %}
            <table class="solves-table">
                <thead>
                    <tr>
                        <th>Challenge</th>
                        <th>Category</th>
                        <th>Difficulty</th>
                        <th>Points</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for solve in solves %}
                    <tr>
                        <td>{{ solve.challenge.name }}</td>
                        <td>{{ solve.challenge.category }}</td>
                        <td>{{ solve.challenge.difficulty }}</td>
                        <td>{{ solve.challenge.points }}</td>
                        <td>{{ solve.time_ago }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No solves yet :(</p>
        {% endif %}
    </section>
{% endblock %}
