<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rules | SaintCTF</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css') }}">

    <!-- Jquery 3.6.0 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body style="background-color: #121212;">
    {%  include 'navbar.html' %}


    <section id="rules-section">
        <h1>Rulez</h1>
        <article class="rules">
            <h2></h2>
            <ol>
                <li>Please don't attack the infrastructure (i.e. Ning's computer), that would make him sad.</li>
                <li>DO NOT DDOS THE WEBSITE.</li>
                <li>Scanning and brute force tools are not required to solve a challenge unless explicitly stated so.</li>
                <li>If you are stuck, I hereby give you permission to annoy Andrew about it.</li>
                <li>Please do not just share flags and solutions when asked.</li>
                <li>If your friends are stuck, you should help them without giving away all the answers (and all the fun)</li>
                <li>The flag format is saint{FLAG_FORMAT}</li>
                <li>This is a game, <strong>please have fun.</strong></li>
                <li>The winners ARE better than everyone else though.</li>
                <li>All complaints about the rules here will be redirected to /dev/null for further consideration.</li>
            </ol>
        </article>

        <script>
            $(document).ready(function() {
                // Set navbar selected
                $(".rules-link").addClass("navbar-selected");
            });
        </script>

    </section>
</body>
</html>
