<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaintCTF - Rules</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header id="main-header">
        <h1>SaintCTF Rules</h1>
    </header>

    <section id="rules-section">
        <h1>The Rules</h1>
        <article class="rules">
            <h2></h2>
            <ol>
                <li>The flag format is saint{FLAG_FORMAT}</li>
                <li>Please don't share flags with other teams, because it would.</li>
                <li>Please don't attack the infrastructure (i.e. Ning's computer), that would make him sad.</li>
                <li>Please DO NOT DDoS the website.</li>
                <li>Scanning and brute force tools are not required to solve a challenge unless explicitly stated so.</li>
                <li>This is a game, please have fun.</li>
                <li>The winners are better than everyone else though.</li>
            </ol>
        </article>

    </section>
</body>
</html>
