{% extends "base.html" %}
{% block title %}Solves{% endblock %}

{% block head %}
    {{ super() }}
    <style>
        html {
            scroll-behavior: smooth;
        }
        main {
            max-width: 80em;
            margin: 0 auto;
        }
        main > * {
            margin-bottom: 1em;
        }
        #scroll-container {
            overflow-x: auto;
        }
    </style>

    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/svg-arrow.css" />
    <script src="https://unpkg.com/@popperjs/core@2" defer></script>
    <script src="https://unpkg.com/tippy.js@6" defer></script>

    <script src="{{ url_for('static', filename='js/utils.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/solves.js') }}" defer></script>
{% endblock %}

{% block body %}
    <section class="card">
        <div class="link-row">
            <h2>Solve History</h2>
            <a href="javascript:window.scrollTo(0, document.body.scrollHeight);">Jump to bottom &darr;</a>
        </div>
        <div id="scroll-container">
            <table>
                <thead>
                    <tr>
                        <th>Solver</th>
                        <th></th>
                        <th>Challenge</th>
                        <th>Category</th>
                        <th>Difficulty</th>
                        <th>Points</th>
                        <th>Time</th>
                    </tr>
                </thead>

                <tbody>
                    {% for solve in solves %}
                        <tr {% if solve.user.username == current_user.username %}
                            class="highlight"
                            {% endif %}
                            >
                            <td><a href="{{ url_for('profile', user_id=solve.user_id) }}">{{ solve.user.username }}</a></td>
                            <td>{% if solve.id in first_blood %}<span title="First blood">🏆</span>{% endif %}</td>
                            <td><a href="{{ url_for('challenges') }}#{{ solve.challenge_id | challenge_anchor_id }}">{{ challenges[solve.challenge_id].name }}</a></td>
                            <td>{{ challenges[solve.challenge_id].category }}</td>
                            <td>{{ challenges[solve.challenge_id].difficulty }}</td>
                            <td>{{ challenges[solve.challenge_id].points }}</td>
                            <td><time datetime="{{ solve.time }}">{{ solve.time | time_ago }}</time></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section class="card">
        <h2>Legend</h2>
        <p>🏆 &mdash; First blood</p>
    </section>
{% endblock %}
